div.checkbox-container{
    width: 100%;

}
.checkbox-container label {
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 10px; 
  }

div.materials-column{
    justify-content: center;
}